


h1{
	color:#014D65;
	font-size:50px;
	margin:26px 0;
	text-align:center;
	}

h2{
  color:#014D65;
	font-size:30px;
	margin:16px 0;
}

h3{
  color:#014D65;
	font-size:22px;
	margin:16px 0;
}

header{
	height:55px;
	}

body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.4;
  margin: 0;
  background-color:#F0B429;">
  text-align: right;
}

main{
	margin:0 auto;
	padding:0 10px 130px;
	}

.menu{
  padding: 20px;
  background-color: #FFD66A;
  margin: 0;
}

.maqueta
{
  text-align: center;
  display: block;
}

.ejemplo
{
  text-align: center;
  display: block;
}

.bottom
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 20px;
  background-color: #F47920;
  width: 100%;
  margin: 0;
	position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
}

.foto
{
	text-align: center;
  display: block;
}
